*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;

}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f );
    padding: 10px;
}
.to-do-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px; 
}

.to-do-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
      border-radius: 30px;
      padding-left: 20px;
      margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}

ul li{
    list-style-type: none;
    font-size: 17px;
    padding: 16px 8px 10px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW4Ds5kUgk_A9z9mDZzvcurUODSc2rOW7JgTi8yz9m0Lq1FDT8&s);
    background-size: cover;
    background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjfsY29BxvVl4b8kwNr3VWjv3ioi1XL1wFtqIcT1ENG3Znk6wu&s);
}

ul li span{
    position: absolute;
    top: 5px;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
}

ul li span:hover{
    background: #e0d9d9;
}